footer {
    background-color: #b6b6b6;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}