footer {
    display: flex;
    justify-content: center;
    background-color: #b6b6b6;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

footer a {
    color: white;
    text-decoration: underline;
    transition: color 0.3s ease;
    cursor: pointer;
}

footer a:hover {
    text-decoration: none;
}